$res: "/image/";
*{
  margin: 0;
  padding: 0;
  font-size: 14px;
}
#root{
  width: 100%;
  height: 100%;
}
html, body{
  width: 100%;
  height: 100%;
}
.display-page{
  width: 100%;
  height: 100%;
  .el-menu--dark{
    background: #2563B0;
  }
  .load{
    top: 300px;
    right: 200px;
  }
  .el-menu{
    position: absolute;
    width: 150px;
    height: 100%;
    border-radius: 0; 
    .el-menu-item-group{
      .el-menu-item{
        color: #fff;
        background: #2076D6;
      }
      .el-menu-item:hover{
        background: #F7e400;
      }
      .el-menu-item-group__title{
        font-size: 18px;
        color: #fff;
        height: 40px;
        background: #2563B0;
      }
    }
  }
  #container{
    position: absolute;
    left: 150px;
    width: calc(100% - 750px);
    height: 100%;
    .BMapLabel{
      line-height: 20px !important;
      background-color: #0081FF !important;
      color: #fff;
      font-weight: bold !important;
      border: none !important;
      border-radius: 2px; 
    }
  }
  .chart{
    padding: 20px 10px; 
  }
  .charts{
    overflow-y:scroll; 
    border-left: 3px solid #0081FF;
    position: absolute;
    right: 0;
    width: 600px;
    height: 100%;
    .title{
      position: fixed;
      z-index: 2;
      right: 0;
      width: 600px;
      height: 50px;
      background:#2563B0;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      line-height: 50px;
      text-align: center;
    }
    .subtitle{
      line-height: 40px;
      height: 40px;
      background: #F5F5F5;
      color: #000;
      font-weight: bold;
      padding-left: 10px; 
    }
  }
}
